


DATABASE_URL="postgresql://postgres:......."
JWT_SECRET="...................."
REDIS_URL=redis://localhost:....

GOOGLE_CLIENT_ID="......................................."
GOOGLE_CLIENT_SECRET="..................."
GOOGLE_REDIRECT_URI="............................"

SESSION_SECRET="..............................."

SECRET_ENCRYPTION_KEY="........................."

FRONTEND_URL="............"